.upgrade:hover .rcost {
	color:#fd3100;
	display:inline-block;
}
.upgrade:hover .costReady{
	color:blue;
	display:inline-block;
}
.gradient {
	background: linear-gradient(to right, rgb(255, 186, 145) 0%, rgba(188, 214, 236, 0) 100%);
}
.researchContainer {
	left:20px;
	position:relative;
	border-left:1px solid #a7a7a7;
	width:260px;
	padding-top:40px;
	padding-left:5px;
}
.researchAmount {
	font-size:18px;
	left:0px;
	top:13px;
	position:absolute;
}
.upgrade {
	width:215px;
	height:15px;
	margin-bottom:8px;
	position:relative;
}
.rcost {
	position:absolute;
	left:4px;
	top:10px;
	font-size:14px;
}
.ramount {
	position:absolute;
	right:5px;
	font-size:17px;
	top:8px;
}
.rname {
	position:absolute;
	left:62px;
	font-size:14px;
	top:10px;
}

.researchGain {
	font-size:18px;
	right:0px;
	top:13px;
	position:absolute;
}