/* -------------------------------------------- */
/* 					universal							   */
/* -------------------------------------------- */
div{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display:inline-block;
	margin-top:0;
}

/* -------------------------------------------- */
/* 			Progress Bar specific					   */
/* -------------------------------------------- */
.progressOuter {
	width:100%;
	height:15px;
	background-color: black;
	position:relative;
	text-align:left;
}
.progressInner {
	background-color:white;
	height:11px;
	top:2px;
	position:absolute;
}
.progressExp {
	background-color:white;
	height:3px;
	top:12px;
	position:absolute;
}
.progressOuter:hover {
	background-color:#0A005F;
}
.progressInner:hover .progressOuter{
	background-color:#0A005F;
}
.progressExp:hover .progressOuter{
	background-color:#0A005F;
}

.exp {
	position:absolute;
	color:white;
	font-size:14px;
	right:5px;
}
.level {
	color:yellow;
	margin-right:10px;
}

.middleLabel {
	text-align:center;
	font-size:16px;
	position:relative;
	display:block;
}
.firstProgressOuter {
	background-color:#424242;
}
.firstProgressInner {
	background-color:yellow;
}
.buttonContainer {
	width:20%;
	vertical-align:top;
}
.countCost {
	color:red;
	width:40%;
	background-color:#A9FFFF;
}

/* -------------------------------------------- */
/* 						helper 							   */
/* -------------------------------------------- */
.number {
    color:black;
  vertical-align: top;
}
.buyButton {
	width:90px;
	height:80px;
	margin-bottom:20px;
	font-size:18px;
	margin-top:30px;
}
.resource {
	font-size:20px;
	margin-top:5px;
	margin-bottom:5px;
	display:block;
	color:blue;
	background-color:#A9FFFF;
	width:50%;
	margin-left:25%;
}
.hyperVisible {
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
	color:white;
}
.objectContainer {
	width:100%;
	font-size:0;
	margin:0;
}
.quickButton {
	margin-left:10px;
	width:70px;
	background-color:black;
	font-size:14px;
	color:white;
	cursor:pointer;
	border:3px solid black;
	border-radius:5px;
	padding:3px;
}
.quickButton:hover {
	border:3px solid red;
}
.quickButton:active {
	border:3px solid red;
	background-color:grey;
}