<!DOCTYPE html>
<html class='objectContainer'>
	<head>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<title>Progress Bars</title>
		<link rel="stylesheet" href="stylesheets/stylesheet.css">
		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
		<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	</head>
	<body ng-app="myApp" ng-controller="myCtrl" class='objectContainer' style='text-align:center;position:absolute;'>\
		<div id='fps' style='text-align:left;font-size:14px'>{{fps}}% fps</div>
		<div ng-click="testSettings()" class='testSettingsButton hyperVisible'>Test Settings</div>
		<div id='progressBars' class='objectContainer'></div>
		<div id='buttons' class='objectContainer'></div>

		<div style='width:100%;font-size: 16px;margin-top:10px;text-align:center;'>To mass-buy, click a button then hold Enter</div>
	</body>
</html>

<script>
//the answer to "how to i access scope variables from console"
//angular.element($0).scope()


var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $interval, $compile) {
	{//----------------Declarations------------------ AKA vars that need a start but no default, ang or not.
		$scope.progress = []
		timeList = [];
		timer = tickTemp1 = totalTicks = 0;
		multFromFps=1
		stop=0 //type stop=1 in console to pause the game. If you do it often, put a button on the action or make it hotkeyed to the 'space' key. (example in manualactions.js)
	}
	{//------------Initial Variable Settings-----------

		//not public-facing game vars
		rowTimeRateStarting = .05
		initialRowCount=7;
		
		//ang both game & graphics vars
		$scope.theResource=0
		$scope.costBuyRow=5
		$scope.secondsBoost=1
		$scope.costSecondsBoost=200
		$scope.boughtSpeedBonus =0
		$scope.costSpeedBonus=400
		$scope.gainAll=5
		$scope.costGainAll=200
		$scope.gainFirst=40
		$scope.costGainFirst=10
		
		//debug vars. Click the in-game button to switch to these
		$scope.testSettings = function() {
			rowTimeRateStarting = 1
			initialRowCount=28;
			$scope.theResource=280
		}
	}

	{//----------------Starting Point-----------------
	
	$scope.tick = function() {
		timer++
		timeList.push(new Date().getTime())
		if(timeList.length > 100) {
			timeList.splice(0, 1)
			
			var fps = msWaitTime/calcAverageTime()*100
			multFromFps = 100/fps
			//console.log(calcAverageTime()+","+fps)
			$scope.fps = round(fps)
			//TODO Reduce the lag, don't just compensate for it.
		}
		
		$scope.updateProgressForAllRows()
		
		//manual addition to give starting rows
		if($scope.progress.length < initialRowCount && timer - tickTemp1 >= 5) {
			$scope.addProgressBar()
			tickTemp1 = timer
		}
	}
	
	
	}


	{//--------------ng-OnClick Methods-------------
		$scope.buySpeedBonus = function() {
			if($scope.theResource >= $scope.costSpeedBonus) {
				$scope.theResource-= $scope.costSpeedBonus //cost
				$scope.costSpeedBonus= Math.ceil(1.1* $scope.costSpeedBonus) //cost increase
				
				//increase a var when you click the button
				$scope.boughtSpeedBonus++
			}
		}
		$scope.buySecondsBoost = function() {
			if($scope.theResource >= $scope.costSecondsBoost) {
				$scope.theResource-= $scope.costSecondsBoost //cost
				$scope.costSecondsBoost= Math.ceil(1.1* $scope.costSecondsBoost) //cost increase
				
				//increase a var when you click the button
				$scope.secondsBoost++
			}
		}
		$scope.buyProgressBar = function() {
			if($scope.theResource >= $scope.costBuyRow) {
				$scope.theResource-= $scope.costBuyRow //cost
				$scope.costBuyRow= Math.ceil(1.1* $scope.costBuyRow) //cost increase
				
				//increase a var when you click the button
				$scope.addProgressBar()
			}
		}
		$scope.buyGainFirst = function() {
			if($scope.theResource >= $scope.costGainFirst) {
				$scope.theResource-= $scope.costGainFirst //cost
				$scope.costGainFirst= Math.ceil(1.1* $scope.costGainFirst) //cost increase
				
				//increase a var when you click the button
				$scope.gainFirst+=3
			}
		}
		$scope.buyGainAll = function() {
			if($scope.theResource >= $scope.costGainAll) {
				$scope.theResource-= $scope.costGainAll //cost
				$scope.costGainAll= Math.ceil(1.1* $scope.costGainAll) //cost increase
				
				//increase a var when you click the button
				$scope.gainAll++
			}
		}
	}
	{//----------------Object Classes-----------------
		{//---------------Progress Bar Row---------------
		
		
		//red
		//progressBar(100,  rowTimeRateStarting, 100, 100, true, 
		
		
			//all unique info about a single progress bar (row) is represented here
			function progressBar (initialProgressReq, initialProgressRate, initialProgress, expToNextLevel, 
				isExpGainOn, secondsBoostUntilDensityIncrease) {
				//parameter driven
				this.progressReq = initialProgressReq
				this.progressRate = initialProgressRate
				this.expToNextLevel = expToNextLevel
				this.progress = initialProgress
				
				//declarations
				this.exp = 0
				this.level = 1
				this.totalBoostTicks = 0
				
				//So this is 10 seconds on the limit, converted into ticks
				this.boostTickLimitFromSeconds = Math.floor(secondsBoostUntilDensityIncrease * (1000/ msWaitTime)) 
				
				{//Progress Gain Functions
					this.nextProgressDown = function(variantSpeedBonus, resultOfFinish) {
						this.progress -= this.progressRate*multFromFps*variantSpeedBonus
						while(this.progress <= 0) {
							this.progress += this.progressReq
							resultOfFinish()
						}
					}
					this.nextProgressUp = function(variantSpeedBonus, resultOfFinish) {
						this.progress += this.progressRate * multFromFps * variantSpeedBonus
						while(this.progress >= this.progressReq) {
							this.progress -= this.progressReq
							resultOfFinish()
						}
					}
				}
				{//Level Gain Functions
					this.nextExp = function(resultOfLevelGain) {
						this.exp++
						while(this.exp >= expToNextLevel) {
							this.exp -= expToNextLevel
							resultOfLevelGain()
						}
					}
				}
				{//Boost Functions
					//will be called on progress completions
					this.nextBoost = function() {
						this.totalBoostTicks--
						if(this.totalBoostTicks <= 0) {
							this.totalBoostTicks = 0
						}
						//TODO only do this when ?boostTicks mod 10 is different? for performance
						return this.calcBoostBonus()
					}
					
					this.addBoost = function(boostChange) {
						this.totalBoostTicks+=boostChange
						return this.calcBoostBonus()
					}
					
					this.calcBoostBonus = function() {
						//TODO probably a fancier way to do this w/o looping
						tempMulti = 1
						tempNum = this.totalBoostTicks
						while((tempNum/tempMulti) >= this.boostTickLimitFromSeconds) {
							tempNum -= this.boostTickLimitFromSeconds * tempMulti
							tempMulti *= 2
						}
						return tempMulti
					}
				}
			}
		}
		
	}
	{//-------------Application Functions--------------
		$scope.updateProgressForAllRows = function() {
			for(lx = 0; lx < $scope.progress.length ; lx++) {
				$scope.updateRowProgress(lx)
			}
		}
		
		$scope.updateRowProgress = function(row) { //main game progress
			rowTimeRate = rowTimeRateStarting * multFromFps*(1+$scope.boughtSpeedBonus/100)
			$scope.progress[row]-=rowTimeRate
			if($scope.progress[row] <= 0) {
				$scope.theResource+=$scope.gainAll
				$scope.progress[row] += 100
				if(row==0) {
					$scope.theResource+=$scope.gainFirst
				} else if(row != 0) {
					//TODO affect the row above itself
					//$scope.progress[row-1]-=$scope.boughtSpeedBonus
				}
			}
		}
		
		$scope.addProgressBar = function() { //add progress bar (both data and UI)
			$scope.addProgressBarData()
			$scope.addProgressBarUI()
		}
		$scope.addProgressBarData = function() { //add progress bar data (UI is in UI section)
			$scope.progress.push(100)
			//TODO make more data initially, data-driven it
		}
	
	}
		
	{//--------------Graphics Functions---------------
		
		$scope.addProgressBarUI = function() {
			extraClass = extraClass2 = ""
			curRowCount = $scope.progress.length
			if(curRowCount==1) {
				extraClass = "firstProgressOuter"
				extraClass2 = "firstProgressInner"
			}
			
			var newDirective = angular.element(
			"<div class='progressOuter "+extraClass+"'>"+
				"<div id='progressInner"+(curRowCount-1)+"' class='progressInner "+extraClass2+"'"+
					"style='width:{{progress["+(curRowCount-1)+"]}}%'>"+
				"</div>"+
			"</div>"
			);
			$("#progressBars").append(newDirective);
			$compile(newDirective)($scope);
		}
		
		/*Parameters:
		@buttonText - the text to appear on the button
		@topNumVarName - the number displayed at the top of the button container
		@topNumColor - the color of displayed topNumVar
		@onClickFunctionName - the name of the function to put in the ng-click. "hello" becomes ng-click="hello()"
		@costVarName - the name of the cost amount variable
		@botNumColor - the color of displayed costVar
		*/
		$scope.addBuyButtonTemplate = function(buttonText, topNumVarName, 
			topNumColor, onClickFunctionName, costVarName, botNumColor) {
			
			//make an element
			var newDirective = angular.element(
			"<div class='buttonContainer'>"+
				"<div class='resource hyperVisible' style='color:"+topNumColor+"'>{{"+topNumVarName+"}}</div>"+
				"<button class='buyButton' ng-click='"+onClickFunctionName+"()'>"+buttonText+"</button>"+
				"<div class='middleLabel'>It costs <div class='countCost hyperVisible' style='color:"+botNumColor+"'>{{"+costVarName+"}}</div></div>"+
			"</div>"
			);
			$("#buttons").append(newDirective); //add the element
			$compile(newDirective)($scope); //re-compile (so it picks up the angular vars)
		}
	}
	{//--------------Initial Graphics Load--------------
		//This stuff really belongs in a database
		//function calls are required to be after variable declarations
		$scope.addBuyButtonTemplate("% Global Speed Increase", 	"boughtSpeedBonus", 	"blue", 	"buySpeedBonus", 		"costSpeedBonus", 			"red")
		$scope.addBuyButtonTemplate("Seconds of Boost", 				"secondsBoost", 			"blue", 	"buySecondsBoost", 	"costSecondsBoost", 	"red")
		$scope.addBuyButtonTemplate("Buy Progress Bar", 				"theResource", 				"red", 	"buyProgressBar", 		"costBuyRow", 				"red")
		$scope.addBuyButtonTemplate("Gain for First", 					"gainFirst", 					"blue", 	"buyGainFirst", 				"costGainFirst", 			"red")
		$scope.addBuyButtonTemplate("Gain for All", 						"gainAll", 						"blue", 	"buyGainAll", 				"costGainAll", 				"red")
	}




	{//---------------Helper Functions----------------- AKA Not specific to this game
		function calcAverageTime() {
			total = 0;
			for(x = 1; x < timeList.length; x++) {
				total += timeList[x] - timeList[x-1]
			}
			return total / timeList.length
		}
		
		function round3(num) {
			return Math.floor(num*1000)/1000
		}
		function round2(num) {
			return Math.floor(num*100)/100
		}
		function round1(num) {
			return Math.floor(num*10)/10
		}
		
		function round(num) {
			return formatNumber(num);
		} function formatNumber(num) {
			return Math.floor(num).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
		}
	}
	
	
	{//----The Timer----
	//this way doesn't work when javascript is open in a different tab
	//javascript will default change the 5 to minimum 500 in that case
	//use interval.js somehow to get around it. google that along with angular?
	msWaitTime = 30
	$interval(function() { if(!stop) $scope.tick(); }, msWaitTime);
	}
});
</script>