* {
margin:0
}

.hideForHover {
    margin-top:4px;
    display:none;
}
.buyButton:hover .tooltipcontainer {
    display:block;
}
.guidanceOption {
    width:100%;
    height:20%;
    text-align: left;
}
.guidanceHover {
    padding:0px 3px;
    margin-top:5px;
    display:none;
    line-height:12px;
}
.clickMultiplier {
    width:18%;
    border:0px solid;
    padding:3px;
    height:60%;
    padding-top:0px;
    text-align:center;
    font-size:18px;
    font-weight: bold;
    background:#F0CABE;
    border-radius:12px;
    cursor:pointer !important;
}
.selectedMultiplier {
    width:22%;
    border:1px solid;
    padding:3px;
    height:75%;
    text-align:center;
    padding-top:1px;
    font-size:20px;
    font-weight: bold;
    background:#FA6F96;
    border-radius:4px;
    cursor:pointer !important;
}
.buyButton {
    border:2px solid;
    border-radius:8px;
    width:90%;
    margin-bottom:3px;
    padding:5px;
    min-width:247px;
    line-height:14px;
    cursor:pointer;
}
.buyCount {
    float:right;
    color:red;
    font-size:20px;
}
div{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.progressNumbers {
    text-align:left;
    margin-right:20px;
    line-height:20px;
    margin-top:10px;
}
h3 {
    margin:0;
    display:inline-block;
    font-size:20px;
}
h2 {
    margin:0;
    font-size:30px;
    display:inline-block;
}
h4 {
    margin:0;
    display:inline-block;
    font-size:18px;
}
div {
    display:inline-block;
    font-size:12px;
}
.tab {
    height:24px;
    border:2px solid #000;
    border-bottom:0px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    color: #ff0003;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    overflow:hidden;
    text-align:left;
    padding-left:5px;
    width:9%;
    margin-bottom:-4px;
}
#buySpace .tab:hover {
    text-align:center;
    width:auto;
    padding-right:5px;
}
.number {
    color:black;
}
.mainNumberDesc {
    font-size:14px;
    line-height:14px;
    display:block;
}
#clickMe, #clickMeWalk {
    text-align:center;
    display:inline-block;
    padding:30px 0px;
    background:#293B99;
    color:#2CFFFF;
    font-size:24px;
    cursor:pointer;
    width:135px;
    border:5px solid green;
    border-radius:5px;
	height:75px;
}
#outerBar {
    width:100%;
    height:50px;
    background:grey;
    margin-top:5px;
    text-align:center;
}
#expBar {
    width:95%;
    height:25px;
    margin-top:12px;
    background:white;
    border-radius:20px;
}
.buyColumn {
    width:27%;
    vertical-align:top;
    height:100%
}
.flavorText {
    font-style:italic;
    margin-top:10px;
    font-size:11px;
    line-height:10px;
}
.optionsBox {
    border:2px solid;
    font-size:20px;
    cursor:pointer;
    margin-bottom:10px;
    padding:2px 15px;
}
.halfBox {
    height:46%;
    margin:0;
    border:1px solid;
    width:100%;
    text-align:left;
    overflow:auto;
}
.guidanceOptionText {
    margin:6px 5px;
    font-size:20px;
    vertical-align: top;
}
.guidanceButton {
    float:right;
    height:40px;
    width:40px;
    margin-right:5%;
    margin-top:5px;
}
.tooltipcontainer {
position:relative;
}
.tooltip{
position:absolute;
display:none;
}


.staminaBar {
    width: 24px;
    height: 200px;
      margin: 10px auto;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 3px #000000 inset, 0 0 2px rgba(255,255,255,0.1);
    border-radius: 10px;
    padding: 4px;
    transform: rotate(180deg);
    display: inline-block;
}

#innerStamina {
     background: linear-gradient(#FFCC33, #F2E2B2);
     border-radius: 12px;
     position: absolute;
     box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 -1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 1px #000000;
     height: 97%;
     width: 24px;
 }
 .color1_2 {
 color:#AF6EEA;
 }
 
 .color1_1 {
 color:#7D36BE;
 }