div{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
h3 {
    margin:0;
    display:inline-block;
    font-size:20px;
}
h2 {
    margin:0;
    font-size:30px;
    display:inline-block;
}
h4 {
    margin:0;
    display:inline-block;
    font-size:18px;
}
div {
    display:inline-block;
    font-size:12px;
}
*{
    padding: 0;
    margin: 0;
}
.column {
height:93%;
margin-top:2vh;
float:left;
text-align:center;
}
.inner {
height:100%;
width:95%;
text-align:center;
overflow:auto;
}
.inner2 {
margin-top:10px;
width:95%;
}
.skill {
width:90%;
	border:2px solid;
border-radius:3px;
margin-bottom:8px;
padding:5px;
cursor:pointer;
text-align:center;
}
.progressBar {
width:90%;
height:15px;
margin-top:5px;
}