/* -------------------------------------------- */
/* 					universal							   */
/* -------------------------------------------- */
div,svg{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display:inline-block;
	margin-top:0;
}

/* -------------------------------------------- */
/* 			This Game   specific					   */
/* -------------------------------------------- */


.objectContainer {
	width:100%;
	font-size:0;
	margin:0;
}
.staticDiv {
		position:absolute;
		left:0;
		width:100%;
}

/* -------------------------------------------- */
/* 						helper 							   */
/* -------------------------------------------- */
.number {
    color:black;
  vertical-align: top;
}
.buyButton {
	width:90px;
	height:80px;
	margin-bottom:20px;
	font-size:18px;
	margin-top:30px;
}
.resource {
	font-size:20px;
	margin-top:5px;
	margin-bottom:5px;
	display:block;
	color:blue;
	background-color:#A9FFFF;
	width:50%;
	margin-left:25%;
}
.hyperVisible {
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
	color:white;
}
.objectContainer {
	width:100%;
	font-size:0;
	margin:0;
}
.quickButton {
	margin-left:10px;
	width:70px;
	background-color:black;
	font-size:14px;
	color:white;
	cursor:pointer;
	border:3px solid black;
	border-radius:5px;
	padding:3px;
}
.quickButton:hover {
	border:3px solid red;
}
.quickButton:active {
	border:3px solid red;
	background-color:grey;
}
