div {
    display:inline-block;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family:Arial, Helvetica, serif;
    color:black;
    font-size:14px;
    height:100%;
    margin:0;
    background-color:white;
}


.large {
    font-size:16px;
    font-weight:bold;
}
.medium {
    font-size:14px;
    font-weight:bold;
}
.small {
    font-size:12px;
    font-weight:bold;
}

input, label {
    cursor:pointer;
}

.button {
    border:2px white solid;
    background-color: #aeb541;
    padding:3px;
    cursor:pointer;
}
.button:hover {
    border:2px blue solid;
}

.container {
    border:1px solid black;
    margin:10px;
    padding:3px;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.computerRow {
    margin-bottom:5px;
    border-bottom:1px solid;
}