.naniteSquare {
    width:33px;
    height:33px;
    border:2px solid white;
    position:absolute;
    background-color:white;
    cursor:pointer;
    text-align:center;
}

.resourceBlock {
    position:relative;
    display:block;
}

div {
    display:inline-block;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scrollArrow {
    opacity:.1;
    background-color:blue;
    cursor:pointer;
    position:absolute;
}
.scrollArrow:hover {
    opacity:.2;
}
#scrollEast {
    background: blue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, grey , blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, grey, blue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, grey, blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, grey , blue); /* Standard syntax */
    width:30px;
    height:100%;
    right:0;
}
#scrollWest {
    background: blue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, blue , grey); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, blue, grey); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, blue, grey); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, blue , grey); /* Standard syntax */
    width:30px;
    height:100%;
    left:0;
}
#scrollNorth {
    background: blue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(blue, grey); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(blue, grey); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(blue, grey); /* For Firefox 3.6 to 15 */
    background: linear-gradient(blue, grey); /* Standard syntax */
    width:100%;
    height:30px;
    top:0;
}
#scrollSouth {
    background: blue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(grey, blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(grey, blue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(grey, blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(grey, blue); /* Standard syntax */
    width:100%;
    height:30px;
    bottom:30px;
}

.arrow {
    position:absolute;
    font-size:24px !important;
    cursor:pointer;
}
.arrow:hover {
    background-color:#ff4400 !important;
}
#leftArrow {
    right:63px;
    top:50px;
}
#rightArrow {
    right:23px;
    top:50px;
}
#upArrow {
    right:43px;
    top:30px;
}
#downArrow {
    right:43px;
    top:70px;
}

.buyButton {
    width:100%;
    border:2px solid black;
    margin-bottom:5px;
    cursor:pointer;
    position:relative;
}
.buyButton:hover {
    background-color:#51afb5;
}

#buttonContainer {
    width:50%;
    position:absolute;
    top:100px;
	padding:5px;
}
.closeButton {
    position:absolute;
    right:5px;
    top:5px;
    font-size:24px !important;
    cursor:pointer;
}
.backButton {
    position:absolute;
    right:30px;
    top:5px;
    font-size:24px;
    cursor:pointer;
}

.settingContainer {
    background-color: #687899;
    margin:10px;
    padding:5px;
    border:2px solid;
}

input, label {
    cursor:pointer;
}
.large {
    font-size:16px;
    font-weight:bold;
}
.medium {
    font-size:14px;
    font-weight:bold;
}
.small {
    font-size:12px;
    font-weight:bold;
}

.buyAmountOption {
    border-radius:5px;
    width:30px;
    text-align:center;
    font-size:14px;
    font-weight:bold;
    background-color:grey;
    padding:1px;
    cursor:pointer;
}
.buyAmountOption:hover {
    background-color:#A5704A !important;
}
#buyAmountOptionContainer {
    position:relative;
    background-color: #434d62;
    margin-bottom:3px;
    padding:3px;
}

.autobuyToggle {
    border-radius:5px;
    width:30px;
    text-align:center;
    font-size:14px;
    font-weight:bold;
    background-color:grey;
    padding:1px;
    cursor:pointer;
}
	
#autobuyToggleContainer {
    position:relative;
    background-color: #434d62;
    margin-bottom:3px;
    padding:3px;
}

.autobuyAmountOption {
    border-radius:5px;
    width:30px;
    text-align:center;
    font-size:14px;
    font-weight:bold;
    background-color:grey;
    padding:1px;
    cursor:pointer;
}

#autobuyAmountOptionContainer {
    position:relative;
    background-color: #434d62;
    margin-bottom:3px;
    padding:3px;
}

#infoGrid {
    position:relative;
    border:2px solid black;
    font-size:12px;
    padding:5px;
}

.col {
    width:52px;
    margin:0;
    border:0;
    text-align:center;
    vertical-align:top;
}
.row, .rowLabel, .medRow, .largeRow {
    color:black;
    width:100%;
    margin:0;
    border:0;
}
.largeRow {
    font-size:14px;
}
.medRow {
    font-size:13px;
}
.rowLabel {
    text-decoration:underline;
}
.displayNum {
    font-weight:bold;
    font-size:12px;
    margin-top:36%;
}
.directionDot {
    background-color:white;
    width:2px;
    position:absolute;
    height:2px;
    border-radius:10px;
}
.directionArrowInner {
    position:absolute;
    width:0;
    height:0;
}
.directionArrowOuter {
    position:absolute;
    width:0;
    height:0;
}
.menuButton, .normalButton {
    padding:2px 10px;
    border:1px solid black;
    vertical-align: top;
    cursor:pointer;
    text-align:center;
    margin:1px;
    height:20px;
    background-color:#acbde2;
}
.normalButton {
    padding-top:5px;
    padding-bottom:0;
}
.menuButton:hover, .normalButton:hover {
    background-color: #5f6f90;
}

.rotate {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.derivContainer {
    margin-left:20px;
    display:block;
}

.outerDerivBar {
    width:100px;
    height:20px;
    background-color:black;
    margin-bottom:5px;
}

.innerDerivBar {
    width:60%;
    height:16px;
    margin-top:2px;
    background-color:red;
}
.derivLabel {
    width:130px;
}
.tabContainer {
    width:150px;
    padding-top: 30px;
}
.tabSelect {
    border-left:2px solid;
    border-top:2px solid;
    border-bottom:2px solid;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width:100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-color:white;
    margin-bottom: 3px;
    margin-left: 3px;
    cursor:pointer;
}
.tabSelect:hover {
    border-color:blue;
}
.selectedScreen {
    width: 642px;
    height: 210px;
    margin-left: 5px;
    vertical-align: top;
    position: absolute;
    overflow: auto;
}
.upgradeTab {
    background-color: #6d6dc5;
}
.growthTab {
    background-color: #6bb347;
}