

.riverContainer {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
}

.valueText {
    color: white;
    font-size: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.riverWave {
    width: 100%;
    background-color: #87CEEB;
    position: absolute;
    bottom: 0;
}

.backgroundImage {
    position:absolute;
    z-index:-1;
}

.column {
    display: inline-block;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.wave {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #a29298;
    height:100%;
}