<!DOCTYPE html>
<html class='objectContainer'>
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <title>Progress Bars</title>
        <link rel="stylesheet" href="stylesheets/stylesheet.css">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="classes/progressBar.js"></script>
    </head>
    <body ng-app="myApp" ng-controller="myCtrl" class='objectContainer' style='text-align:center;position:absolute;background-color:#c1d7ee'>
        <div ng-click="hasProgressMovement = (!hasProgressMovement)" class='hyperVisible quickButton ' style='width:117px;'>Toggle Progress Movement Visibility</div>
        <div ng-click="toggleStartStop()" class='hyperVisible quickButton '>Toggle Start / Stop</div>
        <div ng-click="toggleNextColor()" class='hyperVisible quickButton '>Toggle Next Color</div>
        <div ng-click="isRowsVisible = (!isRowsVisible)" class='hyperVisible quickButton'>Toggle Progress Visible</div>
        <!--<div ng-click="" class='hyperVisible quickButton'>Toggle Row Visible</div>
        <div ng-click="" class='hyperVisible quickButton'>Toggle Exp Visible</div>-->
        <div ng-click="toggledBarsLeft=!toggledBarsLeft" class='hyperVisible quickButton'>Toggle Bar Direction</div>
        <div id='fps' style='float:left;font-size:14px;background-color:grey;width:60px;padding:3px;border-radius:5px;'>{{fps}} fps</div>
        
        <div id='progressBars' style='margin-top:10px;display:{{isRowsVisible?"block":"none"}};width:50%' class='objectContainer'></div>
        <div id='buttons' class='objectContainer'></div>

        <div style='width:100%;font-size: 16px;margin-top:10px;text-align:center;'>To mass-buy, click a button then hold Enter</div>
        <div style='text-align:left;font-size:12px;width:100%;margin-top:30px;margin-left:10px;margin-bottom:10px;color:grey'>If you want patterns, not gameplay (won't be in final version):</div>
        <div ng-click="testSettings()" style='float:left;width:75px' class='hyperVisible quickButton '>+1k</div>
        <div ng-click="testSettings2()" style='float:left;width:75px' class='hyperVisible quickButton '>+50k </div>
    </body>
</html>

<script>
//the answer to "how to i access scope variables from console"
//angular.element($0).scope()

/* TODO: 
speed to the left
level inside 
produces currencies[row]
spawns with a buy button on row+1 (further down) that costs  5 * Math.pow(3, (length - row)) of currencies[row], and gives +1 to expGain of row+1

upgrades come from the rows 3 rows up, where a x2 to 7 is available for 10k of rows 4 and 1
each row gains expGain into Level
Level up gives 10% higher expGain bonus
levelUp needs 10 exp to start, 
*/

var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $interval, $compile) {

    {//----------------Declarations------------------ AKA vars that need a start but no default, ang or not.
        $scope.pbars = []
        timeList = [];
        timer =  totalTicks = 0;
        tickTemp1 = -500; //so that it makes the first row immediately
        multFromFps=1
        stop=0 //type stop=1 in console to pause the game. If you do it often, put a button on the action or make it hotkeyed to the 'space' key. (example in manualactions.js)
        $scope.hasProgressMovement = 1
        $scope.isRowsVisible = 1
        
    }
    {//------------Initial Variable Settings-----------

        //not public-facing game vars
        rowTimeRateStarting = .025
        initialRowCount=4
        progressCreationLength = 50
        regularRowHue = 180
        
        //ang both game & graphics vars
        $scope.boughtSpeedBonus =0
        $scope.secondsBoost=1 
        $scope.theResource=0
        $scope.gainFirst=20
        $scope.gainAll=1
        
        $scope.costSpeedBonus=500
        $scope.costSecondsBoost=30
        $scope.costBuyRow=25
        $scope.costGainFirst=8
        $scope.costGainAll=150
        
        //debug vars. Click the in-game button to switch to these
        $scope.testSettings = function() {
            //rowTimeRateStarting = 1
            //$scope.pbars[1].progressRate *= 2
            //$scope.pbars[6].progressRate *=4 //I intend for a "driver" that functions similar as this later
            //$scope.pbars[2].progressRate = 1
            //initialRowCount=10;
            $scope.theResource+=1000;
            getLastRow().resources += 1000;
        }
        $scope.testSettings2 = function() {
            $scope.theResource += 50000;
            getLastRow().resources += 50000;
        }
        
    }
    
    {//----------------Starting Point-----------------
    
        $scope.tick = function() {
            timer++;
            timeList.push(new Date().getTime());
            if(timeList.length > 100) {
                timeList.splice(0, 1);
                
                //TODO instead of calc average, sub first from last / 2
                var fps = msWaitTime/calcAverageTime()*100;
                multFromFps = 100/fps;
                $scope.fps = round(fps)+"%";
                //TODO Reduce the lag, don't just compensate for it.
            } else {
                multFromFps = 1;
                $scope.fps = "...";
            }
            
            $scope.updateProgressForAllRows();
            
            //manual addition to give starting rows
            if($scope.pbars.length < initialRowCount && timer - tickTemp1 >= 25) {
                if($scope.pbars.length === 0) {
                    $scope.addProgressBar("first");
                } else {
                    $scope.addProgressBar("regular");
                }
                tickTemp1 = timer
            }
        }
    
    }

    

    {//--------------ng-OnClick Methods-------------
        $scope.buySpeedBonus = function() { //% Global Speed Increase
                $scope.buyButtonClicked($scope.costSpeedBonus, function() {
                    $scope.costSpeedBonus = Math.ceil(1.75* $scope.costSpeedBonus) //cost increase
                    $scope.boughtSpeedBonus+=5
                })};
        $scope.buySecondsBoost = function() { //Seconds of Boost on Levelup
                $scope.buyButtonClicked($scope.costSecondsBoost, function() {
                    $scope.costSecondsBoost = Math.ceil(1.5* $scope.costSecondsBoost);
                    $scope.secondsBoost++;
                })};
        $scope.buyProgressBar = function() { //Buy Progress Bar
                $scope.buyButtonClicked($scope.costBuyRow, function() {
                    $scope.costBuyRow = Math.ceil(2* $scope.costBuyRow);
                    initialRowCount += 2;
                })};
        $scope.buyGainFirst = function() { //Gain for First
                $scope.buyButtonClicked($scope.costGainFirst, function() {
                    $scope.costGainFirst = Math.ceil(1.25* $scope.costGainFirst);
                    getLastRow().resGain += 5;  //+ Math.floor($scope.gainFirst * .12)
                })};
        $scope.buyGainAll = function() { //Gain for All
                $scope.buyButtonClicked($scope.costGainAll, function() {
                    $scope.costGainAll = Math.ceil(1.35* $scope.costGainAll);
                    $scope.gainAll += 1; // + Math.floor($scope.gainAll * .2)
                    for(var x = 0; x < $scope.pbars.length; x++) {
                        $scope.pbars[x].resGain++;
                    }
                })};
    }
    {//----------------Object Classes----------------- progressBar,.nextProgressDown,.nextExp,.nextBoost,.addBoost
        
        //all unique info about a single progress bar (row) is represented here

        
    }

    function getLastRow() {
        return $scope.pbars[$scope.pbars.length-1];
    }

    {//-------------Application Functions-------------- updateProgressForAllRows, updateRowProgress, addProgressBar, addProgressBarData

        $scope.updateProgressForAllRows = function() {
            for(var lx = 0; lx < $scope.pbars.length ; lx++) {
                $scope.updateRowProgress(lx)
            }
        };
        
        $scope.updateRowProgress = function(row) { //main game progress
            $scope.pbars[row].nextProgressDown((1+$scope.boughtSpeedBonus/100), function() { 
                var lastIndex = $scope.pbars.length-1;
                //$scope.theResource += $scope.gainAll *Math.pow(10, $scope.pbars[row].speedReduceMult-1)
                
                $scope.pbars[row].nextExp($scope.secondsBoost);
                var resourceGain = $scope.pbars[row].resGain * Math.pow(10, $scope.pbars[row].speedReduceMult-1);
                $scope.pbars[row].resources += resourceGain;
                if(row < lastIndex) { //all but the bottom-most row
                    $scope.pbars[lastIndex].resources += resourceGain;
                    $scope.pbars[row+1].speedGainOpacity = 1;
                    $scope.pbars[row+1].speedGain = round1((1+($scope.pbars[row].level-1)*.1)*Math.pow(10, $scope.pbars[row].speedReduceMult-1));
                    $scope.pbars[row+1].speedMult = round1($scope.pbars[row+1].speedGain + $scope.pbars[row+1].speedMult);
                }
            });
        };
        
        $scope.addProgressBar = function(type) { //add progress bar (both data and UI)
            $scope.addProgressBarData(type);
            $scope.addProgressBarUI(type);
        }
    
    }



    {//--------------Graphics Functions--------------- addProgressBarUI, addBuyButtonTemplate,
        $scope.addProgressBarUI = function(type) {
            
            curRowCount = $scope.pbars.length
            //$scope.expToNextLevel
            var progressPrc = "{{ !hasProgressMovement ? 75 : "+ //force to 100
            "(toggledBarsLeft ? "+
            "pbars["+(curRowCount-1)+"].progress/pbars["+(curRowCount-1)+"].progressReq * 100  :" + //go left
            "100 - (pbars["+(curRowCount-1)+"].progress/pbars["+(curRowCount-1)+"].progressReq * 100))" //go right
            +"}}"
            
            var newDirective = angular.element(
            "<div class='progressOuter' ng-class="+'"'+"{ 'leveling' : pbars["+(curRowCount-1)+"].isLeveling }"+'"'+">"+
                "<div id='progressInner"+(curRowCount-1)+"' class='progressInner'"+
                    "style='width:"+progressPrc+"%;background-color:{{pbars["+(curRowCount-1)+"].color}};'>"+
                "</div>"+
                "<div class='exp hyperVisible'><div class='level'>Level {{pbars["+(curRowCount-1)+"].level}}</div>{{pbars["+(curRowCount-1)+"].exp+" +
                "'  / '+pbars["+(curRowCount-1)+"].expToNextLevel}} exp</div>"+
                "<div class='hyperVisible speedMult'>{{pbars["+(curRowCount-1)+"].speedMult}}%</div>"+
                "<div class='hyperVisible speedGain' style='opacity:{{pbars["+(curRowCount-1)+"].speedGainOpacity}}'>+{{pbars["+(curRowCount-1)+"].speedGain}}</div>"+
                "<div class='hyperVisible resources' style='color:" + getResourceColor(curRowCount-1) + "'>" +
                    "Resource {{pbars["+(curRowCount-1)+"].row+1}} = {{pbars["+(curRowCount-1)+"].resources}}" +
                    ", Gain = {{pbars["+(curRowCount-1)+"].resGain}}" +
                "</div>"+
            "</div>"
            );
            $("#progressBars").append(newDirective);
            $compile(newDirective)($scope);
        };
        
        /*Parameters:
        @buttonText - the text to appear on the button
        @topNumVarName - the number displayed at the top of the button container
        @topNumColor - the color of displayed topNumVar
        @onClickFunctionName - the name of the function to put in the ng-click. "hello" becomes ng-click="hello()"
        @costVarName - the name of the cost amount variable
        @botNumColor - the color of displayed costVar
        */
        $scope.addBuyButtonTemplate = function(buttonText, topNumVarName, 
            topNumColor, onClickFunctionName, costVarName, botNumColor) {
            
            //make an element
            var newDirective = angular.element(
            "<div class='buttonContainer'>"+
                "<div class='resource hyperVisible' style='color:"+topNumColor+"'>{{"+topNumVarName+"}}</div>"+
                "<button class='buyButton' ng-click='"+onClickFunctionName+"()'>"+buttonText+"</button>"+
                "<div class='middleLabel'>It costs <div class='countCost hyperVisible' style='color:"+botNumColor+"'>{{"+costVarName+"}}</div></div>"+
            "</div>"
            );
            $("#buttons").append(newDirective); //add the element
            $compile(newDirective)($scope); //re-compile (so it picks up the angular vars)
        }
        
        $scope.toggleNextColor = function() {
            regularRowHue -= 18;
            for(var lx = 0; lx < $scope.pbars.length; lx++) {
                $scope.pbars[lx].initialColorHue = regularRowHue
                $scope.pbars[lx].color = colorShiftMath(regularRowHue, 0, 0)
            }
        }
        
        function getResourceColor(resNum) {
            return colorShiftMath(regularRowHue, resNum, 0)
        }
    }
    
    
    {//----------Initial Button & Row Load------------
        //This stuff really belongs in a database
        //function calls are required to be after variable declarations
        $scope.addBuyButtonTemplate("% Global Speed Increase", "boughtSpeedBonus", "blue", "buySpeedBonus", "costSpeedBonus", "red");
        $scope.addBuyButtonTemplate("Seconds of Boost on Level Up", "secondsBoost", "blue","buySecondsBoost", "costSecondsBoost", "red");
        $scope.addBuyButtonTemplate("Buy 2 Progress Bars", "pbars[pbars.length-1].resources", "red", "buyProgressBar", "costBuyRow", "red");
        $scope.addBuyButtonTemplate("Gain for Last", "pbars[pbars.length-1].resGain", "blue", "buyGainFirst", "costGainFirst", "red");
        $scope.addBuyButtonTemplate("Gain for All", "gainAll", "blue", "buyGainAll", "costGainAll", "red");
    
    
        $scope.addProgressBarData = function(type) { 
            //progressBar (initialProgressReq, initialProgressRate, initialProgress, isExpGainOn, secondsBoostUntilDensityIncrease, initialColorHue, gainAmount, row) {
            var progressCreationLength = 20 //* Math.pow(1.01, $scope.pbars.length)
            if(type === "first") {
                $scope.pbars.push(new progressBar (progressCreationLength, rowTimeRateStarting, progressCreationLength, true, 6, regularRowHue, 20, $scope.pbars.length))
            } else if(type === "regular") {
                $scope.pbars.unshift(new progressBar (progressCreationLength, rowTimeRateStarting, progressCreationLength, true, 6, regularRowHue, $scope.gainAll, $scope.pbars.length))
            }
        }
    }

    
    
    
    {//---------------Helper Functions----------------- AKA Not specific to this game
        $scope.toggleStartStop = function() {
            stop = !stop
            timeList = []
        }
        
        //because I hate IE so much
        Math.log2 = Math.log2 || function(x){return Math.log(x)*Math.LOG2E;};
    
        function calcAverageTime() {
            total = 0;
            for(x = 1; x < timeList.length; x++) {
                total += timeList[x] - timeList[x-1]
            }
            return total / timeList.length
        }
        
        function round3(num) {
            return Math.floor(num*1000)/1000
        }
        function round2(num) {
            return Math.floor(num*100)/100
        }
        function round1(num) {
            return Math.floor(num*10)/10
        }

        function round(num) {
            return formatNumber(num);
        } function formatNumber(num) {
            return Math.floor(num).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }
        
        /*
          Converts an HSL color value to RGB. Conversion formula
          adapted from http://en.wikipedia.org/wiki/HSL_color_space.
          Assumes h, s, and l are contained in the set [0, 1] and
          returns r, g, and b in the set [0, 255].
         
          @param   Number  h       The hue
          @param   Number  s       The saturation
          @param   Number  l       The lightness
          @return  Array           The RGB representation
         */
        function hslToRgb(h, s, l){
            var r, g, b;

            if(s == 0){
                r = g = b = l; // achromatic
            }else{
                var hue2rgb = function hue2rgb(p, q, t){
                    if(t < 0) t += 1;
                    if(t > 1) t -= 1;
                    if(t < 1/6) return p + (q - p) * 6 * t;
                    if(t < 1/2) return q;
                    if(t < 2/3) return p + (q - p) * (2/3 - t) * 6;
                    return p;
                }

                var q = l < 0.5 ? l * (1 + s) : l + s - l * s;
                var p = 2 * l - q;
                r = hue2rgb(p, q, h + 1/3);
                g = hue2rgb(p, q, h);
                b = hue2rgb(p, q, h - 1/3);
            }

            return [Math.round(r * 255), Math.round(g * 255), Math.round(b * 255)];
        }
        
        /*
          Converts an RGB color value to HSL. Conversion formula
          adapted from http://en.wikipedia.org/wiki/HSL_color_space.
          Assumes r, g, and b are contained in the set [0, 255] and
          returns h, s, and l in the set [0, 1].
         
          @param   Number  r       The red color value
          @param   Number  g       The green color value
          @param   Number  b       The blue color value
          @return  Array           The HSL representation
         */
        function rgbToHsl(r, g, b){
            r /= 255, g /= 255, b /= 255;
            var max = Math.max(r, g, b), min = Math.min(r, g, b);
            var h, s, l = (max + min) / 2;

            if(max == min){
                h = s = 0; // achromatic
            }else{
                var d = max - min;
                s = l > 0.5 ? d / (2 - max - min) : d / (max + min);
                switch(max){
                    case r: h = (g - b) / d + (g < b ? 6 : 0); break;
                    case g: h = (b - r) / d + 2; break;
                    case b: h = (r - g) / d + 4; break;
                }
                h /= 6;
            }

            return [h, s, l];
        }
        
        //ang helper methods
        $scope.buyButtonClicked = function(costVar, resultOfFinish) {
            if(getLastRow().resources >= costVar) {
                getLastRow().resources -= costVar; //cost
                resultOfFinish();
            }
        }
        
        
    }
    
    
    {//----The Timer----
    msWaitTime = 33 //doesn't wait decimal amounts
    $interval(function() { if(!stop) $scope.tick(); }, msWaitTime);
    }
});
</script>