/* -------------------------------------------- */
/* 					universal							   */
/* -------------------------------------------- */
div{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display:inline-block;
	margin-top:0;
}

/* -------------------------------------------- */
/* 			This Game   specific					   */
/* -------------------------------------------- */
.dirt {
	position:absolute;
	background-color:rgb(109, 67, 67);
}
.stone {
	position:absolute;
	background-color:grey
}
.tree {
	position:absolute;
  width: 0; 
  height: 0; 
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  
  border-bottom: 35px solid green;
}
.buyButton {
	cursor:pointer;
	background-color:grey;
	font-size:12px;
	padding:5px;
	text-align:center;
}
.buyButton:hover {
	background-color:white;
	border:2px red solid;
	padding:3px
}
.buttonContainer {
	width:360px;
	padding:3px;
	background-color:black;
	border:1px solid grey;
}
.loggerUpgrades {
	background-color:green;
}
.minerUpgrades {
	background-color:yellow;
}

.goldColor {
	color:gold;
}
.woodColor {
	color:green;
}
.tealColor {
	color:teal;
}
.treeHealthBarOuter {
	width:2px;
	height:10px;
	background-color:white;
	position:absolute;
}
.treeHealthBar {
	width:28px;
	height:2px;
	background-color:red;
	position:absolute;
}
.healthBar {
	width:2px;
	background-color:red;
	position:absolute;
	

}


.someSpace {
	margin-left:4px;
	margin-right:4px;
}
.nameButton {
	cursor:pointer;
	background-color:grey;
	font-size:12px;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	text-align:center;
}
.nameButton:hover {
	background-color:red;
	border:2px white solid;
	padding:3px;
	padding-left:8px;
	padding-right:8px;
}

.depthArrow {
	position:absolute;
	background-color:yellow;
	width:20px;
	height:238px;
	left:1056px;
	cursor:pointer;
	padding: 2px;
}
.depthArrow:hover {
	border: 2px solid blue;
	padding:0px;
}

/* -------------------------------------------- */
/* 						helper 							   */
/* -------------------------------------------- */
.number {
	font-size:14px;
}
.resource {
	font-size:20px;
	margin-top:5px;
	margin-bottom:5px;
	display:block;
	color:blue;
	background-color:#A9FFFF;
	width:50%;
	margin-left:25%;
}
.hyperVisible {
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
	color:white;
}
.objectContainer {
	width:100%;
	font-size:0;
	margin:0;
}
.quickButton {
	margin-left:10px;
	width:70px;
	background-color:black;
	font-size:14px;
	color:white;
	cursor:pointer;
	border:3px solid black;
	border-radius:5px;
	padding:3px;
}
.quickButton:hover {
	border:3px solid red;
}
.quickButton:active {
	border:3px solid red;
	background-color:grey;
}
