div {
    display:inline-block;
}

.gridRow {
    height:20px;
    margin-top:5px;
}

.gridCell {
    height:100%;
    margin-right:5px;
    display:inline-block;
}

.naniteRow {
    height:40px;
    margin-top:5px;
}

.naniteCell {
    height:30px;
    margin-right:3px;
    display:inline-block;
    text-align:center;
    border:1px solid black;
    width:40px;
    padding-top:10px;
    font-size:12px;
    vertical-align: top;
}

.naniteCellEmpty {
    height:41px;
    width:42px;
    margin-right:3px;
    display:inline-block;
}

input {
    width:40px;
}


.button {
    padding: 1px 5px;
    text-align: center;
    vertical-align:center;
    min-width:9px;
    cursor: pointer;
    outline: none;
    color: #000000;
    background-color: #55d4de;
    border: none;
    border-radius: 6px;
    box-shadow: 0 3px #999;
    transform: translateY(-2px);
    margin-bottom:2px;
    display:inline-block;
}

.button:hover {background-color: #60eef9
}

.button:active {
    background-color: #3e9aa2;
    box-shadow: 0 1px #666;
    transform: translateY(0px);
}

.clickable {
    cursor:pointer;
    color:blue;
    text-decoration:underline;
}
